* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: Arial;
}

header {
  height: auto;
  text-align: center;
  padding: 30px;
}

.head-heading {
  padding: 5px;
  color: #a18283;
}

.head-para {
  padding: 10px;
}

main {
  height: auto;
  background-color: #ecf0f4;
  padding: 40px 0px;
}

.main {
  display: flex;
  justify-content: center;
}

.main-img img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.main-img {
  margin-right: 30px;
}

.content-session {
  margin-right: 30px;
}

.content-heading {
  font-weight: lighter;
  margin-bottom: 30px;
}

.inner-text {
  color: #da816f;
  font-weight: bold;
}

.content-para {
  font-size: 15px;
  margin-bottom: 30px;
}

.content-more {
  color: black;
}

footer {
  height: auto;
  text-align: center;
  padding: 30px;
}

footer img {
  height: 285px;
  object-fit: cover;
}
