*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: contain;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: auto;
}
header{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
}

.heading1{
    margin: auto;
    padding: 5px;
    color: #a18283;
}

.para1{
    margin: auto;
    padding: 10px;

}
main{
    height: auto;
    background-color: #ecf0f4;
    padding: 40px 0px;
    margin: auto;
}
.main{
    display: flex;
    justify-content: center;
}

.main-img img{
    width: 400px;
    height: 300px;
}

.main-img{
    margin-right: 50px;
}

.heading2{
    font-weight: lighter;
    margin-bottom: 30px;
}

.inner-text{
    color: #da816f;
    font-weight: bold;
}

.para2{
    font-size: 13px;
    margin-bottom: 30px;
}

.main .content-session{
    margin-right:50px ;
}

.main .content-session a{
    color: black;
}

footer{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    margin: auto;
}

footer img{
    height: 285px;
}